#light{
    background: radial-gradient(circle, rgba(255, 0, 136, 0.451), rgb(226, 73, 106),rgba(174, 116, 116, 0.291),0c1b24, 0c1b24);
    overflow: hidden;
  }
  #light::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgb(226, 73, 106) 0%, rgba(255, 0, 136, 0.451) 30%, rgb(12, 27, 36) 60%, rgb(12, 27, 36) 100%);
    filter: drop-shadow(0 0 8rem rgb(93, 166, 200)); 
    mix-blend-mode: multiply; 
    opacity: 1;
    pointer-events: none; 
  }
  
  
  #light2{
    background: radial-gradient(circle, rgba(0, 187, 255, 0.451), rgb(73, 162, 226),rgba(116, 162, 174, 0.291),0c1b24, 0c1b24);
    overflow: hidden;
  }
  #light2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgb(73, 93, 226) 0%, rgba(0, 110, 255, 0.451) 30%, rgb(12, 30, 36) 60%, rgb(12, 27, 36) 100%);
    filter: drop-shadow(0 3 80rem rgb(141, 212, 245)); /* Light shadow effect */
    mix-blend-mode: multiply; 
    opacity: 1; 
    pointer-events: none; 
  }
  #light3{
    background: radial-gradient(circle, rgba(0, 187, 255, 0.451), rgb(73, 162, 226),rgba(116, 162, 174, 0.291),0c1b24, 0c1b24);
    overflow: hidden;
  }
  #light3::before {
    content: '';
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgb(236, 249, 45) 0%, rgba(212, 255, 0, 0.451) 30%, rgb(12, 30, 36) 60%, rgb(12, 27, 36) 100%);
    filter: drop-shadow(0 3 80rem rgb(141, 212, 245)); /* Light shadow effect */
    mix-blend-mode: multiply; 
    opacity: 1; 
    pointer-events: none; 
  }