@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
  background-color: rgba(hsla(318, 81%, 51%, 0.285)a(255, 0, 0, 0.451), rgb(318, 81%, 51%, 0.285), rgba(29, 34, 187, 0.291), alpha);

}
.App{
  text-align: center;
  margin: 0 auto;
  max-width: 1224px; 
  min-height: 100vh;
  overflow-y: visible;

}
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: white;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: black;
  -webkit-border-radius: 1ex;
}



@media screen and ( max-width: 800px ){
  #root,.App{
    margin: 0.5rem ;
    padding: 0;
  }
}


